certifi==2024.12.14
charset-normalizer==3.4.1
evdev==1.8.0
gevent==24.11.1
greenlet==3.1.1
idna==3.10
keyboard==0.13.5
pynput==1.7.7
python-xlib==0.33
requests==2.32.3
setuptools==75.8.0
six==1.17.0
urllib3==2.3.0
websocket-client==1.8.0
zope.event==5.0
zope.interface==7.2
